/* Ignorer tout ce qui suit */

$background: #eee;
$background2:#fff;
$text: #282828;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $background;
    color: $text;
    font-family: 'Segoe UI', sans-serif;
    overflow: hidden;

    &::before {
        --line: color-mix(in lch, canvasText 25%, transparent);
        --size: 50px;
        content: '';
        height: 100vh;
        width: 100vw;
        position: fixed;
        background: linear-gradient(
                    90deg,
                    var(--line) 1px,
                    transparent 1px var(--size)
                )
                0 -5vmin / var(--size) var(--size),
            linear-gradient(var(--line) 1px, transparent 1px var(--size)) 0 -5vmin / var(
                    --size
                ) var(--size);
        mask: linear-gradient(-15deg, transparent 45%, #eee);
        top: 0;
        z-index: -1;
    }
}

body::before{
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: $background2;
    z-index: -1;


}



.ccenter {
    // $ijc-height: 760px;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    filter: drop-shadow(0 10px 10px hsla(0, 0%, 0%, .5));

    .ijc{
        transition: .4s;
        &:hover{
            transform: scale(1.02);
        }
    }
}

/* Code here */
.ijc {
    $ijc-padding: 20px;
    $ijc-border-radius: $ijc-padding;
    $ijc-height: calc(660px + $ijc-padding * 2);
    $btn-letter:#fff;
    $btn-letter-background:#000;
    $btn-background:hsla(0, 0%, 0%, 0.45);
    display: flex;
    gap: 80px;
    width: calc(1300px + $ijc-padding);
    
    padding: $ijc-padding;
    border-radius: $ijc-border-radius;
    background-color: #fff;

    >div {
        flex: 1;
    }

    height: $ijc-height;

    &__left {
        p.subhead {
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;

            display: -webkit-box;
            line-clamp: 1;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;

        }

        h3 {
            font-family: 'zurich', sans-serif;
            font-size: 2.26em;
            font-weight: 8000;
            text-transform: uppercase;
            font-style: italic;

            display: -webkit-box;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

            margin: 40px 0;
        }
    }

    &__right {

        #videoArea {

            background-color: $background2;

            position: relative;

            border-radius: 20px;
            overflow: hidden;
            height: calc($ijc-height - $ijc-padding * 2);

            video {
                width: 100%;
                height: 100%;
                object-fit:cover;
            }

        }

        #ask{
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;

            display: flex;
            flex-direction: column;
            gap: 15px;

            max-height: 230px;
            overflow-y: auto;

            button{
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 18px;
                background-color: $btn-background;
                border: none;
                border-radius: 20px;
                font-weight: 500;
                color: $btn-letter;
                padding: 10px;
                margin: 0 20px;
                cursor: pointer;
                border: 2px solid transparent;
                transition: .4s;

                span.letter{
                    font-size: 14px;
                    background-color: $btn-letter-background;
                    border-radius: 100%;
                    width: 28px;
                    height: 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &:hover{
                    border: 2px solid $btn-letter-background;
                }
            }
        }

        #controls{
            position: absolute;
            top: 10px;
            right: 20px;
            
            display: flex;
            align-items: center;
            gap: 6px;

            button{
                background-color: $btn-background;
                color: $btn-letter;
                fill: $btn-letter;
                border: 2px solid $btn-letter;
                border-radius: 10px;
                width: 50px;
                padding: 5px 0;
                cursor: pointer;

                display: flex;
                align-items: center;
                justify-content: center;
                transition: .4s;

                svg{
                    width: 20px;
                    height: 20px;
                }

                &:hover{
                    transform: scale(1.1);
                }

                &.active{
                    background-color: $btn-letter;
                    color: $btn-letter-background;
                    fill: $btn-letter-background;
                }

                &#time{
                    font-size: 15px;

                    width: auto;
                    padding: 5px 10px;
                }
            }
        }
    }
}